* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Heebo", sans-serif;
}

.landing {
  min-height: 100vh;
  background: url("../images/background.png");
  background-size: cover;
  padding: 0rem 5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  min-height: 10vh;
  text-decoration: none;
  color: red;
}
.nav-links {
  display: flex;
  list-style: none;
  color:red;
}
.nav-links li {
  padding-left: 9rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #2288FF;

}
#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
  position: fixed;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: rgb(61, 61, 61);
  position: absolute;
}

nav{
  position: fixed;
}

.intro {
  background: blueviolet;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: blueviolet;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

#course {
  min-height:100vh;
  padding: 0rem,5rem;
  background: url('../images/');
  background-size: cover;
}

#spacer{
  min-height:10vh;
}